#btn1 {
  width: 165px;
  height: 50px;
  border-radius: 100px;
  border: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: white;
  z-index: 2;
}

#svg1 {
  width: 18px;
  height: 18px;
}

.invis {
  visibility: hidden;
}

.pre-opn {
  margin-top: -50px;
  height: 50px;
}

.cls {
  animation: closeing 500ms ease-out;
  animation-iteration-count: 1;
}

.opn {
  animation: opening 500ms ease-out;
  animation-iteration-count: 1;
}

@keyframes closeing {
  0% {
    height: 102px;
    margin-top: 0px;
    border-radius: 16px;
  }

  100% {
    height: 50px;
    margin-top: -50px;
    border-radius: 100px;
  }

}

@keyframes opening {
  0% {
    height: 50px;
    margin-top: -50px;
    border-radius: 100px;
  }

  100% {
    height: 102px;
    margin-top: 0px;
    border-radius: 16px;
  }

}

.dppp1 {
  z-index: 1;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  width: 165px;
  height: 102px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border: solid 1px;
  position: absolute;
}

.dppp2 {
  z-index: 1;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  width: 165px;
  height: 102px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border: solid 1px;
  position: absolute;
}

.dppp3 {
  z-index: 1;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  width: 165px;
  height: 102px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border: solid 1px;
  position: absolute;
}

.dppp4 {
  z-index: 1;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  width: 165px;
  height: 102px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border: solid 1px;
  position: absolute;
}

.hdr {
  background-color: #0D171D;
  border-radius: 0px 0px 90px 90px;
  max-width: 1985px;
  height: 803px;
}

.int11 {
  margin-top: 27.5px;
  color: white;
  background-color: #0d171d00;
  border: none;
  width: 104px;
  padding-left: 10px;
  padding-right: 10px;
  height: 42px;
  border-radius: 1000px;
  font-size: 14px;
  outline: 1px solid rgba(250, 250, 250, 0.3);
  font-family: "Montserrat";
}

.int11:focus {
  outline: none;
  outline: 1px solid rgba(250, 250, 250, 0.3);
}

.dspF {
  display: flex;

}

.bh1 {
  outline: 1px solid rgba(250, 250, 250, 0.3);
  color: white;
  background-color: #0d171d00;
  text-decoration: none;
  font-family: "Montserrat";
}